.login{
    font-size:30px;
    margin-left:20px;
}
.form-container{
    width:500px;
    height:25rem;
    margin:auto;
    border-radius:30px;
    display: inline-block;

}
li{
    margin:20px;
    font-size: 20px;
}
#login-form{
    font-size: 20px;
    width:200px;
    padding:10px;
}

input{
    width:400px;
    padding:10px;
    border-radius: 5px;
    border: 2px solid blue;
    margin:10px 0 10px 10px;
}
.login-button{
    padding:10px;
    margin:10px 0 0 10px;
    border: 2px solid blue;
    font-size: 20px;
    border-radius: 20px;
    background-color:rgb(136, 136, 169);
    cursor:pointer;
    color:white;
}
.para{
    margin:10px 0 10px 10px;
}
@media screen and (max-width:587px) {
    .form-container{
        width:300px;
    }
    input{
        width:200px;
    }
}